html, body {height:100%;}

#wrap {

}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.prefix-line::after{
    content: '';
    width: 2px;
    height: 16px;
    background: #777777;
    margin-left: 8px;
    display: inline-block;
    vertical-align: center;
}